@import url('https://fonts.googleapis.com/css?family=Barlow');

:root {
  /* Law book colors */
  --cocoa-brown: hsla(35, 100%, 13%, 1);
  --wheatfield: hsla(44, 37%, 80%, 1);

  /* Book cover colors */
  --navy: hsla(240, 100%, 20%, 1);
  --sunglow: hsla(48, 100%, 60%, 1);
  --safety-orange: hsla(24, 100%, 50%, 1);

  /* Gentle colors */
  --unbleached-silk: #f9dec9;
  --medium-taupe: #685044;
  --apricot: #ffcab1;
  --taupe: #4b3834;

  /* Strong & contrasting */
  --river-bed: #4c5c68;
  --red-damask: #db694a;
  --blue-bell: #998fc7;

 /*Baby Shark Blue*/
 --charcoal: #373f51;
 --rich-electric-blue: #008dd5;

  /* Apply colors */
  --dark-area: var(--taupe);
  --light-area: var(--unbleached-silk);
  --dark-text: var(--taupe);
  --light-text: var(--unbleached-silk);
  --white-area: white;

  --bar-height: 45px;
  --header-height: var(--bar-height);
  --footer-height: var(--bar-height);

  --small-margin: 2.5vw;
  --medium-margin: calc(2 * var(--small-margin));
  --large-margin: calc(3 * var(--small-margin));
  --tiny-margin: calc(0.5 * var(--small-margin));
  --single-line-height: 2rem;
  --tile-height: 5rem;
  --small-radius: 4px;
  --medium-radius: calc(2 * var(--small-radius));
  --large-radius: calc(2 * var(--medium-radius));

  --z-index-1: 10;
  --z-index-2: 20;
  --z-index-3: 30;
  --z-index-4: 40;
  --z-index-max: 99;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.HeaderBar {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--dark-area);
  color: var(--light-text);
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  align-items: center;
  text-align: center;
}

.HeaderBar > .Nav {
  text-align: left;
  padding-left: var(--small-margin);
}

.HeaderBar > .Action {
  text-align: right;
  padding-right: var(--small-margin);
}

.PageShell {
  position: fixed;
  top: var(--header-height);
  height: calc( 100% - var(--header-height) - var(--footer-height) );
  width: 100%;
  overflow-y: scroll;
  background-color: var(--light-area);
  color: var(--dark-text);
}

.FooterBar {
  position: fixed;
  bottom: 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--dark-area);
  color: var(--light-text);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.OverviewTile {
    height: var(--tile-height);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
    background-color: var(--white-area);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-column-gap: 5px;
    align-items: center;
    border-radius: var(--small-radius);
}

.OverviewTile > .Index {
  text-align: center;
}

.OverviewTile > .Text {
  text-align: left;
}

.OverviewTile > .Nav {
  text-align: center;
}

.LawOverview > ul {
  list-style-type: none;
  padding-left: 0;
}

.DetailHead {
  background-color: var(--dark-area);
  padding: var(--medium-margin);
}

.DetailHead .Tile {
  background-color: var(--white-area);
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  padding: var(--small-margin);
  border-radius: var(--large-radius);
}

.DetailHead .Title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: var(--medium-margin);
}

.DetailSection {
  color: var(--dark-text);
  padding: var(--small-margin);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  background-color: var(--white-area);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  border-radius: var(--small-radius);
}

.DetailSection > .Title {
  font-weight: bold;
}

.DetailSection .Description ul {
  list-style-type: none;
  padding-left: 0;
}

.DetailSection hr {
  width: 100%;
  background-color: var(--dark-text);
}

.CatOverview, .Profile {
  background-color: white;
  padding: var(--large-margin);
  text-align: center;
}

.SearchBar {
    position: relative;
    height: var(--single-line-height);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
}

.SearchBar input {
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--large-radius);
  border: none;
  outline: none;
  cursor: none;
  padding-left: calc(var(--large-margin) + var(--medium-margin));
  color: var(--dark-text);
  width: calc(100% - var(--large-margin) - var(--medium-margin));
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar .search {
  position: absolute;
  left: var(--medium-margin);
  top: calc( var(--single-line-height) / 4);
}

/* .SearchBar button {
  position: absolute;
  right: 0;
  height: calc(100% + 2px);
  width: 22%;
  border-radius: 0 var(--small-radius) var(--small-radius) 0;
  border: none;
  outline: none;
  color: gray;
  background-color: var(--white-area);
} */

/* Tile Variation */
/* .NotFound404 {
    height: var(--tile-height);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
    background-color: var(--white-area);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: var(--small-radius);
} */

/* Text Variation */
.NotFound404 {
    height: var(--single-line-height);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
    display: grid;
    align-items: center;
    text-align: center;
}
