@import url('https://fonts.googleapis.com/css?family=Barlow');

:root {
  /* Law book colors */
  --cocoa-brown: hsla(35, 100%, 13%, 1);
  --wheatfield: hsla(44, 37%, 80%, 1);

  /* Book cover colors */
  --navy: hsla(240, 100%, 20%, 1);
  --sunglow: hsla(48, 100%, 60%, 1);
  --safety-orange: hsla(24, 100%, 50%, 1);

  /* Gentle colors */
  --unbleached-silk: #f9dec9;
  --taupe: #4b3834;
  --lust: #e62020;

  /* Strong & contrasting */
  --river-bed: #4c5c68;
  --red-damask: #db694a;
  --blue-bell: #998fc7;

  /*Baby Shark Blue*/
  --charcoal: #373f51;
  --rich-electric-blue: #008dd5;

  /* Apply colors */
  --dark-area: var(--taupe);
  --light-area: var(--unbleached-silk);
  --dark-text: var(--taupe);
  --light-text: var(--unbleached-silk);
  --white-area: white;

  /* Heights and margins */
  --bar-height: 45px;
  --single-line-height: 2rem;

  --small-margin: 2.5vw;
  --medium-margin: calc(2 * var(--small-margin));
  --large-margin: calc(3 * var(--small-margin));

  --tiny-margin: calc(var(--small-margin) / 2);
  --micro-margin: calc(var(--small-margin) / 3);

  --tile-height: 5rem;
  --small-radius: 4px;
  --medium-radius: calc(2 * var(--small-radius));
  --large-radius: calc(2 * var(--medium-radius));

  --header-height: var(--bar-height);
  --footer-height: var(--bar-height);

  --z-index-1: 10;
  --z-index-2: 20;
  --z-index-3: 30;
  --z-index-4: 40;
  --z-index-max: 99;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.HeaderBar {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--dark-area);
  color: var(--light-text);
  display: grid;
  grid-template-columns: 4fr 6fr 4fr;
  align-items: center;
}

.HeaderBar > .Nav {
  text-align: left;
  padding-left: var(--small-margin);
}

.HeaderBar > .Title {
  text-align: center;
}

.HeaderBar > .Action {
  text-align: right;
  padding-right: var(--small-margin);
}

.PageShell {
  position: fixed;
  top: var(--header-height);
  height: calc( 100% - var(--header-height) - var(--footer-height) );
  width: 100%;
  overflow-y: scroll;
  background-color: var(--light-area);
  color: var(--dark-text);
}

.FooterBar {
  position: fixed;
  bottom: 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--dark-area);
  color: var(--light-text);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.LawOverviewTile {
  height: var(--tile-height);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  background-color: var(--white-area);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-column-gap: 5px;
  align-items: center;
  border-radius: var(--small-radius);
}

.LawOverviewTile > .Index {
  text-align: center;
}

.LawOverviewTile > .Text {
  text-align: left;
}

.LawOverviewTile > .Nav {
  text-align: center;
}

.LawOverview ul {
  list-style-type: none;
  padding-left: 0;
}

.DetailHead {
  background-color: var(--dark-area);
  padding: var(--medium-margin);
}

.DetailHead .Tile {
  background-color: var(--white-area);
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  padding: var(--small-margin);
  border-radius: var(--large-radius);
}

.DetailHead .Title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: var(--medium-margin);
}

.DetailSection {
  color: var(--dark-text);
  padding: var(--small-margin);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  background-color: var(--white-area);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  border-radius: var(--small-radius);
}

.DetailSection > .Title {
  font-weight: bold;
}

.DetailSection .Description ul {
  list-style-type: none;
  padding-left: 0;
}

.DetailSection hr {
  width: 100%;
  background-color: var(--dark-text);
}

.CatOverview > .PageShell,
.Profile > .PageShell,
.CatDetails > .PageShell {
  text-align: center;
}

.CatOverviewTile {
  height: var(--tile-height);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  background-color: var(--white-area);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  grid-column-gap: 5px;
  align-items: center;
  border-radius: var(--small-radius);
}

.CatOverviewTile > .Title {
  text-align: left;
  margin-left: var(--medium-margin);
}

.CatOverviewTile > .Laws {
  text-align: center;
}

.CatOverviewTile > .Laws > div {
  display: inline-block;
  text-align: center;
  min-width: 1rem;
  line-height: 1rem;
  padding: 4px;
  border-radius: 1rem;
  background-color: var(--dark-area);
  color: var(--light-text);
}

.CatOverviewTile > .Nav {
  text-align: center;
}

.CatOverview ul {
  list-style-type: none;
  padding-left: 0;
}

.SearchBar {
  position: relative;
  height: var(--single-line-height);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
}

.SearchBar input {
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--large-radius);
  border: none;
  outline: none;
  padding-left: calc(var(--medium-margin) + 25px );
  color: var(--dark-text);
  width: calc(100% - var(--medium-margin) - 25px );
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar .search {
  position: absolute;
  left: var(--medium-margin);
  top: calc( var(--single-line-height) / 4);
  width: 20px;

}

/* Tile Variation */
/* .NotFound404 {
    height: var(--tile-height);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
    background-color: var(--white-area);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: var(--small-radius);
} */

/* Text Variation */
.NotFound404 {
  height: var(--single-line-height);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  text-align: center;
}

.Toast {
  position: fixed;
  z-index: var(--z-index-max);
  bottom: 12vh;
  background-color: var(--dark-area);
  color: white;
  box-shadow: 8px 8px 2px 2px rgba(0, 0, 0, 0.3);
  width: 65vw;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: var(--small-radius);
  text-align: center;
  padding: var(--medium-margin) var(--tiny-margin);
  transition-property: all;
  transition-duration: 1s;
}

.fade {
  opacity: 0;
}

.Modal {
  position: fixed;
  z-index: var(--z-index-2);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.Modal > .ModalBody {
  position: relative;
  width: 70vw;
  max-height: 80vh;
  border-radius: var(--medium-radius);
  background-color: white;
  padding: 0 15px;
  overflow-y: scroll;
}

.ModalBody > .Header {
  text-align: center;
  font-weight: bold;
  color: var(--dark-text);
  padding: 10px 0;
  border-bottom: 1px solid var(--dark-area);
}

.ModalBody > .Text {
  text-align: left;
  padding: 5px 0;
  color: var(--dark-text);
}

.ModalBody > .Footer {
  text-align: right;
  padding: 5px 0;
}

.ModalBody > .Footer > button {
  border: 1px solid var(--dark-area);
  border-radius: var(--medium-radius);
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 8px 10px;
  min-width: 60px;
  background-color: var(--dark-area);
  color: white;
  outline: none;
}

.AddCatDialog {
  --side-padding: 5px;
  padding: 15px 0;
}

.AddCatDialog input {
  padding: 0 var(--side-padding);
  width: calc( 100% - 2 * var(--side-padding));
  height: var(--single-line-height);
  border: 1px solid var(--dark-area);
  border-radius: var(--small-radius);
  outline-color: var(--light-area);
  color: var(--dark-text);
  margin-top: 5px;
}

.AddCatDialog input:focus {
  background-color: var(--light-area);
  border: 1px solid var(--dark-area);
  outline: none;
}

.AddCatDialog input.invalid {
  border: 2px solid var(--lust);
}

.AddCatDialog .ErrorLabel {
  color: var(--lust);
  font-style: italic;
}

.AddCatDialog textarea {
  padding: var(--side-padding);
  width: calc( 100% - 2 * var(--side-padding));
  border: 1px solid var(--dark-area);
  margin-top: 5px;
  border-radius: var(--small-radius);
  outline-color: var(--light-area);
  color: var(--dark-text);
  font-family: inherit;
}

.AddCatDialog textarea:focus {
  background-color: var(--light-area);
  border: 1px solid var(--dark-area);
  outline: none;
}
